USE [BDAranda]
GO
/****** Object:  Table [dbo].[Web]    Script Date: 8/05/2019 3:15:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Web](
	[PKWeb] [int] IDENTITY(1,1) NOT NULL,
	[Web] [nchar](200) NULL,
	[Activa] [bit] NULL,
 CONSTRAINT [PK_Web] PRIMARY KEY CLUSTERED 
(
	[PKWeb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
